* {
	box-sizing: border-box;
}

:root {
	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	--animation-duration: 250ms;
}

body {
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.photo {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

a {
	color: inherit;
	text-decoration: none;
}

 .gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.card {
	display: flex;
	flex-direction: column;
	width: 300px;
	text-align: center;
	border-radius: 15px;
	background-color: #c1c1c1;
	transition: transform var(--animation-duration) var(--timing-function);
		box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
				0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.card:hover {
	transform: scale(1.03);
}

.card>img {
	height: 300px;
	border-radius: 15px 15px 0 0;
}

.card__info {
	display: flex;
	margin-top: 11px;
}

.card__item {
	margin: auto;
}

.search-form {
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
	padding: 10px 0px;
	background-color: #248b8e;
	gap: 10px;
}

input {
	padding: 10px 150px 10px 10px;
	border-radius: 5px;
	border: none;
	outline: none;
	font-size: 15px;
}

@media screen and (max-width: 320px) {
	input {
			padding: 10px 50px 10px 10px;
		}
}

@media screen and (max-width: 480px) {
	input {
		padding: 10px 50px 10px 10px;
	}
}

button {
	border-radius: 5px;
	border: none;

	padding: 10px;
	cursor: pointer;
	text-transform: uppercase;
}

#load-more {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 10px;
	color: #fff;
	background-color: #3b4698;
	border-radius: 10px;
}

input[type="submit"],
button {
	border: none;
	background-color: rgba(45, 45, 233, 0.731);
	color: white;
	cursor: pointer;
}

#load-more:disabled {
	background-color: #c1c1c1;
	cursor: not-allowed;
}

#load-more.hidden {
	display: none;
}
.is-hidden {
	display: none;
}